*{
    margin: 0;
    padding: 0;
}

.sky{
    height: 100vh;
    width: 100%;
    background-image: url(Images/background.jpg);
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
}

.trees{
    height: 100vh;
    width: 100%;
    background-image: url(Images/trees.png);
    background-size: cover;
    position: absolute;
    top: -144px;
}

.track{
    height: 40vh;
    width: 800vw;
    background-image: url(Images/track.png);
    background-repeat: repeat-x;
    /* background-size: cover; */
    position: absolute;
    top: 70vh;
    animation: carMove 7s linear infinite;
}

.car{
    height: 100px;
    width: 380px;
    background-image: url(Images/car_body.png);
    background-size: cover;
    position: absolute;
    left: 444px;
    bottom: 29vh;
}

.wheel1 img{
    width: 64px;
    position: relative;
    left: 50px;
    top: 42px;
    animation: WheelRotation 0.5s linear infinite;
}

.wheel2 img{
    width: 66px;
    position: relative;
    left: 240px;
    top: -23px;
    animation: WheelRotation 0.5s linear infinite;
}

@keyframes WheelRotation{
    100%{
        transform: rotate(360deg);
    }
}

@keyframes carMove
{
    100%{
        transform: translateX(-500vw);
    }
}